:root {
  --ifm-color-primary: #FDB602;
  --ifm-color-primary-dark: #e4a502;
  --ifm-color-primary-darker: #d79a02;
  --ifm-color-primary-darkest: #b07e01;
  --ifm-color-primary-light: #fdbf35;
  --ifm-color-primary-lighter: #fdc951;
  --ifm-color-primary-lightest: #fee18a;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Roboto', sans-serif;
  --ifm-background-color: #FFFFFF;
  --ifm-logo-url: url('/img/logo-light.png');
}
[data-theme='dark'] {
  --ifm-background-color: #000000;
  --ifm-color-primary: #FDB602;
  --ifm-logo-url: url('/img/logo-dark.png');
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--ifm-background-color);
}
.navbar__logo img {
  height: 40px;
  content: var(--ifm-logo-url);
}
.footer {
  background-color: #1a1a1a;
}